Options +FollowSymLinks
RewriteEngine on

Rewriterule ^([A-Za-z0-9-]+)/?$ $1.php [NC,L]

<IfModule mod_headers.c>
# WEEK
<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>